<div class="trigger">
    <a class="page-link" href="{{ "/" | relative_url }}">Home</a>
    <a class="page-link" href="{{ "/enforcement" | relative_url }}">Enforcement</a>
    <a class="page-link" href="{{ "/subcommittee" | relative_url }}">Subcommittee</a>
    <a class="page-link" href="{{ "/reporting" | relative_url }}">Reporting Guidelines</a>
    <a class="page-link" href="{{ "/FAQ" | relative_url }}">FAQ</a>
    <a class="page-link" href="{{ "/changelog" | relative_url }}">Changelog</a>
</div>
